{:main ex05b.core
 :optimizations :none
 :pretty-print  true
 :asset-path "resources/public/js"
 :output-to  "resources/public/js/dummy.js"
 #_:modules       #_{:cljs-base  {:output-to "resources/public/js/base.js"}
                 :app        {:output-to "resources/public/js/compiled/app.js"
                              :entries   #{"ex05b.core"}}
                 :meshworker {:output-to  "resources/public/js/meshworker.js"
                              :entries    #{"meshworker"}}}}
