{:main ex05b.core
 :asset-path "js/compiled/out"
 :output-to "resources/public/js/compiled/app.js"
 :output-dir "resources/public/js/compiled/out"
 :optimizations :none
 :pretty-print true
 :modules {:cljs-base
           {:output-to "resources/public/js/compiled/out/base.js"}
           :app
           {:output-to "resources/public/js/compiled/app.js"
            :entries   #{ex05b.core}}}}
