{:main ex05b.core
 :optimizations :advanced
 :infer-externs true
 :source-map true
 :asset-path "/js"
 :pretty-print  true
 :output-to "resources/public/js/main.js"
 :output-dir "resources/public/js"
 :modules {:cljs-base {:output-to "resources/public/js/compiled/out/base.js"}
           :app       {:output-to "resources/public/js/compiled/app.js"
                       :entries #{ex05b.core}}
           :worker    {:output-to "resources/public/js/compiled/out/meshworker.js"
                       :entries #{ex05b.meshworker}}}}
